.body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #FAFAFA;
}

.redreal{
    color: #FF3737;
}

.recent{
    padding: 2%;
    margin-left: 25%;
    margin-right: 25%;
}

.nav-item:hover{
    transition: color 0.5 s linear;
    border-bottom: 2px solid #FF3737;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.navbar{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.worldNews{
    position: absolute;
    padding-left: 6%;
    padding-right: 6%;
    left: 1%;
    top:22.5%;
}

.category{
    position: absolute;
    padding-left: 6%;
    padding-right: 6%;
    right: 1%;
    top:22.5%;
}

.recentnews{
    padding: 2%;
    margin-left: 25%;
    margin-right: 25%;
}