@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap);

.widget {
  position:absolute;
  top: 50%;
  left: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  width: 300px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.3), 0 0px 0px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.3), 0 0px 0px 0 rgba(0, 0, 0, 0.15);
}

.widget .weatherIcon {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #FAFAFA;
  font-family: weathericons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 30px;
}

.widget .weatherIcon i {
  padding-top: 10px;
}

.widget .weatherInfo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FAFAFA;
}

.widget .weatherInfo .temperature {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  width: 100%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.widget .weatherInfo .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 60%;
          flex: 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.widget .weatherIcon .weatherCondition {
  font-family: 'Montserrat', sans-serif;
  color: #080705;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 400;
  
}

.widget .weatherInfo .description .place {
  font-size: 18px;
}

.widget .date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  height: 40%;
  background: #FF3737;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FAFAFA;
  font-size: 17px;
  font-weight: 800;
}



